toop-commons/src/main/resources/xsd/toop/TOOP_DataExchange-1.2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (C) 2018-2020 toop.eu

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xsd:schema 
  xmlns:toop="urn:eu:toop:ns:dataexchange-1p10"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
  targetNamespace="urn:eu:toop:ns:dataexchange-1p10"
  version="specsVersion1.2.0"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">  
  <xsd:import
    namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
    schemaLocation="../common/UBL-UnqualifiedDataTypes-2.1.xsd" />
  
  <!--alternative ROOT elements-->
  <xsd:element name="Request" type="toop:TOOPRequestType"/>  
  <xsd:element name="Response" type="toop:TOOPResponseType"/>  
  
  <!--************************** -->
  <!--COMMON elements start here -->
  
  <xsd:complexType name="DataConsumerType">
    <xsd:sequence>
      <xsd:element name="DCUniqueIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="DCName" type="udt:TextType"/>
      <xsd:element name="DCElectronicAddressIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="DCLegalAddress" type="toop:AddressType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DataRequestSubjectType">
    <xsd:sequence>
      <xsd:element name="DataRequestSubjectTypeCode" type="udt:CodeType"/>
      <xsd:element name="LegalEntity" type="toop:LegalEntityType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NaturalPerson" type="toop:NaturalPersonType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DataRequestAuthorizationType">
    <xsd:sequence>
      <xsd:element name="DataRequestConsentToken" type="udt:BinaryObjectType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DataElementRequestType">  
    <xsd:sequence>
      <xsd:element name="DataElementRequestIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>  
      <xsd:element name="ConceptRequest" type="toop:ConceptRequestType"/> 
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DocumentRequestType">  
    <xsd:sequence>
      <xsd:element name="DocumentRequestIdentifier" type="udt:IdentifierType" minOccurs="1" maxOccurs="1"/>  
      <xsd:element name="DocumentRequestTypeCode" type="udt:CodeType"/> 
      <xsd:element name="PreferredDocumentMimeTypeCode" type="udt:CodeType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DocumentResponse" type="toop:DocumentResponseType" minOccurs="0" maxOccurs="1"/>  <!--NOTE: the DocumentResponse is mandatory in the Response message, but its current cardinality is 0..1 for compatibility with the Request message-->
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="LegalEntityType">
    <xsd:sequence>
      <xsd:element name="LegalPersonUniqueIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="LegalName" type="udt:TextType"/>  
      <xsd:element name="VATRegistrationNumber" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TaxReferenceNumber" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BusinessCodes" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="LegalEntityIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="EORIIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SEEDIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="StandardIndustrialClassification" type="udt:CodeType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AuthorizedRepresentativeIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>  
      <xsd:element name="LegalEntityLegalAddress" type="toop:AddressType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="NaturalPersonType">
    <xsd:sequence>
      <xsd:element name="PersonIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="FamilyName" type="udt:TextType"/> 
      <xsd:element name="FirstName" type="udt:TextType"/> 
      <xsd:element name="BirthDate" type="xsd:date"/> 
      <xsd:element name="BirthFamilyName" type="udt:TextType" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="BirthPlace" type="udt:TextType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="GenderCode" type="udt:CodeType" minOccurs="0" maxOccurs="1"/>   
      <xsd:element name="NaturalPersonLegalAddress" type="toop:AddressType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ConceptRequestType">  
    <xsd:sequence>
      <xsd:element name="ConceptTypeCode" type="udt:CodeType"/>  
      <xsd:element name="SemanticMappingExecutionIndicator" type="udt:IndicatorType"/> 
      <xsd:element name="ConceptNamespace" type="udt:IdentifierType"/>  
      <xsd:element name="ConceptName" type="udt:TextType"/>  
      <xsd:element name="ConceptDefinition" type="udt:TextType" minOccurs="0" maxOccurs="unbounded"/>  
      <xsd:element name="DataElementResponseValue" type="toop:DataElementResponseValueType" minOccurs="0" maxOccurs="unbounded"/> 
      <xsd:element name="ConceptRequest" type="toop:ConceptRequestType" minOccurs="0" maxOccurs="unbounded"/>  
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="AddressLine" type="udt:TextType" minOccurs="0" maxOccurs="3"/> 
      <xsd:element name="StreetName" type="udt:TextType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="StreetNumber" type="udt:TextType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="City" type="udt:TextType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PostCode" type="udt:TextType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Country" type="udt:TextType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CountryCode" type="udt:CodeType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- **** CHECK: Force the use of the Level of Assurance attribute by using the type IdentifierWithLOA instead of Identifier--> 
  <!-- for future releases--> 
  <!--xsd:complexType name="IdentifierWithLOAType">
    <xsd:simpleContent>
    <xsd:extension base="udt:IdentifierType">
    <xsd:attribute name="LevelOfAssurance" type="xsd:token" use="required"/>
    </xsd:extension>
    </xsd:simpleContent>
    </xsd:complexType-->
  
  
  <!--COMMON elements stop here -->
  <!--************************** -->
  
  <!--************************************ -->
  <!--REQUEST specific elements start here -->
  
  <xsd:complexType name="TOOPRequestType">
    <xsd:sequence>
      <xsd:element name="DocumentUniversalUniqueIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="DocumentIssueDate" type="xsd:date"/>
      <xsd:element name="DocumentIssueTime" type="xsd:time" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CopyIndicator" type="udt:IndicatorType"  minOccurs="0" maxOccurs="1" default="false"/>
      <xsd:element name="DocumentTypeIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="SpecificationIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="ProcessIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="DataConsumerDocumentIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DataConsumerGlobalSessionIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DataConsumerRequestPurpose" type="udt:TextType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="DataRequestIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DataConsumer" type="toop:DataConsumerType"/>
      <xsd:element name="DataRequestSubject" type="toop:DataRequestSubjectType"/>
      <xsd:element name="DataRequestAuthorization" type="toop:DataRequestAuthorizationType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DataElementRequest" type="toop:DataElementRequestType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="DocumentRequest" type="toop:DocumentRequestType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--REQUEST specific elements stop here -->
  <!--*********************************** -->
  
  <!--************************************* -->
  <!--RESPONSE specific elements start here -->
  
  <xsd:complexType name="TOOPResponseType">
    <xsd:annotation>
      <xsd:documentation>
        DataRequestIdentifier becomes mandatory
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="toop:TOOPRequestType">
        <xsd:sequence>
          <xsd:element name="DataProvider" type="toop:DataProviderType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Error" type="toop:ErrorType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   
  <xsd:complexType name="DataElementResponseValueType">
    <xsd:sequence>
      <xsd:element name="ErrorIndicator" type="udt:IndicatorType"  default="false"/>
      <xsd:element name="AlternativeResponseIndicator" type="udt:IndicatorType" minOccurs="0" maxOccurs="1"/>
      <xsd:choice>
        <xsd:element name="ErrorCode" type="udt:CodeType"/>
        <xsd:element name="ResponseIdentifier" type="udt:IdentifierType"/>
        <xsd:element name="ResponseDescription" type="udt:TextType"/>
        <xsd:element name="ResponseAmount" type="udt:AmountType"/>
        <xsd:element name="ResponseCode" type="udt:CodeType"/>
        <xsd:element name="ResponseDate" type="xsd:date"/>  
        <xsd:element name="ResponseTime" type="xsd:time"/>  
        <xsd:element name="ResponseIndicator" type="udt:IndicatorType"/>
        <xsd:element name="ResponseMeasure" type="udt:MeasureType"/>
        <xsd:element name="ResponseNumeric" type="udt:NumericType"/>
        <xsd:element name="ResponseQuantity" type="udt:QuantityType"/>
        <xsd:element name="ResponseURI" type="udt:IndicatorType"/> 
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DocumentResponseType"> 
    <xsd:sequence>
      <xsd:element name="DocumentName" type="udt:TextType"/>   
      <xsd:element name="DocumentDescription" type="udt:TextType" minOccurs="0" maxOccurs="1"/>  
      <xsd:element name="DocumentValidityPeriod" type="udt:TextType" minOccurs="0" maxOccurs="1"/>  
      <xsd:element name="ErrorIndicator" type="udt:IndicatorType"  default="false"/>
      <xsd:element name="ErrorCode" type="udt:CodeType" minOccurs="0"/>
      <xsd:element name="DocumentIssuer" type="toop:IssuerType" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="Document" type="toop:DocumentType" minOccurs="1" maxOccurs="unbounded"/>  
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="IssuerType"> 
    <xsd:sequence>
      <xsd:element name="DocumentIssuerIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>  
      <xsd:element name="DocumentIssuerName" type="udt:TextType" minOccurs="0" maxOccurs="1"/>  
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DocumentType"> 
    <xsd:sequence>
      <xsd:element name="DocumentURN" type="udt:IdentifierType"/>  
      <xsd:element name="DocumentTypeCode" type="udt:CodeType" minOccurs="0" maxOccurs="1"/>  
      <xsd:element name="DocumentMimeTypeCode" type="udt:CodeType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DataProviderType">
    <xsd:sequence>
      <xsd:element name="DPIdentifier" type="udt:IdentifierType"/>
      <xsd:element name="DPName" type="udt:TextType"/>
      <xsd:element name="DPAdministrativeUnit" type="udt:TextType" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="DPElectronicAddressIdentifier" type="udt:IdentifierType"/>  
      <xsd:element name="DPLegalAddress" type="toop:AddressType" minOccurs="1" maxOccurs="1"/> 
      <xsd:element name="DPContactDetails" type="toop:ContactDetailsType" minOccurs="0" maxOccurs="1"/> 
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ContactDetailsType"> 
    <xsd:sequence>
      <xsd:element name="ContactPoint" type="udt:TextType" minOccurs="0" maxOccurs="1"/>  
      <xsd:element name="ContactTelephoneNumber" type="udt:TextType" minOccurs="0" maxOccurs="1"/>  
      <xsd:element name="ContactEmailAddress" type="udt:TextType" minOccurs="0" maxOccurs="1"/>  
    </xsd:sequence>
  </xsd:complexType>
  
  <!--RESPONSE specific elements stop here -->
  <!--************************************ -->
  
  
  <!--****************************************** -->
  <!--ERROR MESSAGE specific elements start here -->
  
  
  <xsd:complexType name="ErrorType">
    <xsd:sequence>
      <xsd:element name="DataProviderIdentifier" type="udt:IdentifierType" minOccurs="0" maxOccurs="1"/>   
      <xsd:element name="Origin" type="udt:CodeType"/>   
      <xsd:element name="Category" type="udt:CodeType"/>    
      <xsd:element name="ErrorCode" type="udt:CodeType"/>  
      <xsd:element name="Severity" type="udt:CodeType"/>  
      <xsd:element name="ErrorText" type="udt:TextType" minOccurs="1" maxOccurs="unbounded"/>    
      <xsd:element name="TechnicalDetails" type="udt:TextType" minOccurs="0" maxOccurs="1"/>    
      <xsd:element name="Timestamp" type="xsd:dateTime"/>  
    </xsd:sequence>
  </xsd:complexType>
  
  <!--ERROR MESSAGE specific elements stop here -->
  <!--***************************************** -->
  
  
</xsd:schema>